{% extends "base.html" %}
{% block content %}
<div class="row">
    <aside class="col-md-2 bg-success">
        <!--  For side navigations  -->
    </aside>
    <div class="col-md-8 lead">
        <h1 class="">Easy Water</h1>
        <section class="">
            <h2 class="">What is Prepaid Water Management System</h2>
            <p class="">
                Prepaid Water Management System (Easy Water) is the next generations system developed by students from
                Makerere University partially for full fillment of course requirements Embedded systems in pursuit of bacholar 
                of science in Computer Science.
                <br>
                The system was designed and implemented with love to technologize and automate Management of both domestic and industrial
                usage of water in Uganda.
            </p>
            <p class="">

            </p>
        </section>
        <section class="">
            <h2 class="">Background of the Project</h2>
            <p class="">
                National Water And Sewage Cooperation is the body responsible for the supply of both domestic and industrial piped water in Uganda
                . Currently the body is using traditional metering system which is install on to the customers premise, while regulary being check and monitored by 
                technical team of the Cooperation usually on monthly basis to take meter reading and supply water bills.
            </p>

                <h3 class="">Mode of Operation of Traditional Metering System</h3>
            <p class="">
                Usually most especially at the beginning or end of the month, NWSC sends their field staffs to take meter readings, submits them
                the their regional head offices for processing and when process is done, they intern deliver the bills to the respective customer.
                The customer is then supposed to pay the stipulated amount of money within certain period of time.
                <br>
                Failure of the customer to pay the bill, the Cooperations agains sends it field staff to the customer to disconnect them and later as the customer
                pays the debt, is subjected to a fine of atleats Ugx 10,000
            </p>
            <p class="">
                The whole system as explained above is flooded with irregularity, delay as well as corruptions. We here by present the safe water which was 
                developed entirely to solve such problems.
            </p>
        </section>

        <section class="">
            <h2 class="">Introducing Prepaid Water Management System ( Easy Water )</h2>
            <p class="">
                The Prepaid Water Management System also known as Easy Water was designed and implememted to solve the above explained problem currently experienced
                the National Water And Sewage Cooperation as well as all other Ugandans enjoying their services.
                Easy Water is design to handle all the work which was done by technical team while automatic them to allow them do more productive 
                work. 
                Easy Water is responsible for taking water usage measurement while monitoring the customers bill for automatic disconnection just incase 
                the customers credit is depleated.
            </p>
        </section>

        <section class="">
            <h2 class="">Specifications and Features</h2>

            <p class="">
                The system is powered by Adruino Microcontrolor with electromagnetic normally closed solenoid valve which is responsible for automatic
                disconnection and reconnection under the control of Adruino Microcontrolor
            </p>

            <p class="">
                Digital measurement of water usage is achieved a robust digital flow sensor which takes water flow speed and converts it into a digital
                form which is then used by the adruino to control the water flow.
            </p>

            <p class="">
                Kaypad as well as lite LCD screen provides the user with advance and international user experience while monitoring their water usage and 
                feeding in token for units loading 
            </p>

            <p class="">
                Well not forgetting, the system also ships with android powered mobile application which makes generation of tokens much more easy than even been before.
            </p>
        </section>

        <section class="">
            <h2 class="">Team</h2>
        </section>

        <section class="">
            <h2 class="">User Comments</h2>
        </section>

        <!-- Limmitations -->
        <section class="">
            <h2 class="">More to Expect</h2>
            <p class="">
                However the system is not currently implememted with all the features that the customer are expecting, the developement team is planning
                to advance it further untill when the system is more usefull and is up to international standards.
            </p>
        </section>

        <section class="">
            <h2 class="">Contact the Development Team</h2>
            <p class="">We are available for help incase you need us, use the form below to connect with us</p>
        </section>
    </div>

    <aside class="col-md-2 bg-success">
        <!-- Other side navigation -->
        hhdhdhhdhdh
    </aside>
</div>
{% endblock content %}